---
import styles from './Cta.module.css'
import Button from '../../../components/Button/Button.astro';
import GlowButton from '../../../components/Button/GlowButton.astro';
import Grid from '../../../components/Grid/Grid.astro';
import TopLeft from '../../../assets/financial/cta/top-left.svg';
import BottomLeft from '../../../assets/financial/cta/bottom-left.svg';
import BottomRight from '../../../assets/financial/cta/bottom-right.svg';
import Image from '../../../assets/financial/cta/logo.svg';
---
<div class={styles.cta}>
  <Grid withPattern={true} stopPatternAtTop={true} variant="default-offset">

    <TopLeft class={styles.TopLeft} />
    <BottomLeft class={styles.BottomLeft} />
    <BottomRight class={styles.BottomRight} />
    
    <div class={styles.content}>
      <Image class={styles.logo} />
      <h5 class="
        text__heading--h5
        text__heading--h2-lg
        text__heading--h4-md
      ">
      Discover how Tetrate can secure
      <br class="u-hidden u-hidden--md u-visible--lg" /> 
      your path to 
      <br class="u-visible u-hidden--md u-hidden--lg" /> 
      <span style={{ color: 'var(--color-orange-500)' }}>
        digital success
      </span>
      </h5>
      <div class={styles.btncontainer}>
        <GlowButton 
          variant="primary" 
          size="lg" 
          buttonClassName="text__body--16-semibold" 
          data-modal-open="demo-request-modal"
          type="button"
        >
          Request a Demo
        </GlowButton>
      </div>
    </div>
  </Grid>
</div>
