---
import Button from '../../../components/Button/Button';
import { Icon } from '../../../components/icon/Icon';
import styles from './ProductCard.module.css'
const { image, title, description, item, buttonLink } = Astro.props;
---
<div class={styles.card}>
  <img class={styles.img} src={image} alt={title} />
  <div class={styles.content}>
    <div class={styles.header}>
       <h5 class={`text__heading--h5 ${styles.title}`}>
        {Array.isArray(title) ? title.map(line => <span style={{ display: 'block' }}>{line}</span>) : title}
      </h5>
      <p class={`text__body--14 ${styles.description}`}> 
        {description}
      </p>
    </div>
   
    <div class={styles.itemList}>
      {item.map((text: string) => (
        <div class={`text__body--14 ${styles.item}`}>
           <Icon name="bulletbg" width={13} height={13} />
          <span>{text}</span>
        </div>
      ))}
    </div>
      <Button variant="primary" size="lg" href={buttonLink}  className={styles.productbtn}>
        <span class="text__body--16-semibold">Learn more</span>
         <Icon name="arrow" width={24} height={24} />
      </Button>
  </div>
</div>
