---
import styles from './Benefits.module.css'
---

<div class={styles.benefits}>
  <h1 class={styles.headling}>
    Full Lifecycle <span class={styles.orange}
				>Network <br /> Management</span
			> for Dynamic <br /> and Heterogenous Microservices
  </h1>
  <div class={styles.container}>
    <div class={styles.card1}>
      <h1 class={styles.cardname}>Discover</h1>
      <p class={styles.text}>
        Global service ownership registry for Kubernetes, VMs, Cloud APIs.
      </p>
    </div>
    <div class={styles.card2}>
      <h1 class={styles.cardname}>Connect</h1>
      <p class={styles.text}>
        North-south and east-west traffic load balancing and visibility to achieve SLO targets.
      </p>
    </div>
    <div class={styles.card3}>
      <h1 class={styles.cardname}>Secure</h1>
      <p class={styles.text}>
        Zero trust application access with zero application developer toil.
      </p>
    </div>
    <div class={styles.card4}>
      <h1 class={styles.cardname}>Optimage</h1>
      <p class={styles.text}>
        Infrastructure cost and ROI management with granular usage tracking and proactive traffic shaping.
      </p>
    </div>
  </div>
</div>