---
import clsx from 'clsx';
import styles from './Benefits.module.css'
import Grid from '../../../components/Grid/Grid.astro';
import CardMobile1 from '../../../assets/home/benefits/card1/card1-mobile.svg'
import CardMobile2 from '../../../assets/home/benefits/card2/card2-mobile.svg'
import CardMobile3 from '../../../assets/home/benefits/card3/card3-mobile.svg'
import CardMobile4 from '../../../assets/home/benefits/card4/card4-mobile.svg'
import CardTablet1 from '../../../assets/home/benefits/card1/card1-tablet.svg'
import CardTablet2 from '../../../assets/home/benefits/card2/card2-tablet.svg'
import CardTablet3 from '../../../assets/home/benefits/card3/card3-tablet.svg'
import CardTablet4 from '../../../assets/home/benefits/card4/card4-tablet.svg'
import CardDesktop1 from '../../../assets/home/benefits/card1/card1-desktop.svg'
import CardDesktop2 from '../../../assets/home/benefits/card2/card2-desktop.svg'
import CardDesktop3 from '../../../assets/home/benefits/card3/card3-desktop.svg'
import CardDesktop4 from '../../../assets/home/benefits/card4/card4-desktop.svg'
import Picture from '../../../components/Picture.astro';
---

<div class={styles.benefits}>
  <h5 class={clsx(
        'text__heading--h5',
        'text__heading--h2-lg',
        'text__heading--h4-md',
        'text--center',
        styles.benefits__heading
      )}>
    Full Lifecycle
    <span style={{ color: 'var(--color-orange-500)' }}>
      Network <br /> Management
    </span> 
      for Dynamic <br /> and Heterogenous Microservices
  </h5>
  <Grid>
    <div class={styles.card__container}>
        <div class={styles.card1}>
         
            <div class={styles.card__bg}>
              <CardMobile1 class="u-visible u-hidden--md u-hidden--lg" />
              <CardTablet1 class="u-hidden u-visible--md u-hidden--lg" />
              <CardDesktop1 class="u-hidden u-hidden--md u-visible--lg" />
            </div>
          <h6 class={clsx(
            'text__heading--h6',
            'text__heading--h5-lg',
            'text__body--18-medium-md',
          )}>
            Discover
          </h6>
          <p class={clsx(
            'text__body--14',
            'text__body--16-lg',
            'text__caption--md',
            styles.card__text,
          )}>
            Global service ownership registry for Kubernetes, VMs, Cloud APIs.
          </p>
        </div>
        <div class={styles.card2}>
         
          <div class={styles.card__bg}>
            <CardMobile2 class="u-visible u-hidden--md u-hidden--lg" />
            <CardTablet2 class="u-hidden u-visible--md u-hidden--lg" />
            <CardDesktop2 class="u-hidden u-hidden--md u-visible--lg" />
          </div>
          <h6 class={clsx(
            'text__heading--h6',
            'text__heading--h5-lg',
            'text__body--18-medium-md',
          )}>
            Connect
          </h6>
          <p class={clsx(
            'text__body--14',
            'text__body--16-lg',
            'text__caption--md',
            styles.card__text,
          )}>
            North-south and east-west traffic load balancing and visibility to achieve SLO targets.
          </p>
        </div>
  
        <div class={styles.card3}>
        
          <div class={styles.card__bg}>
            <CardMobile3 class="u-visible u-hidden--md u-hidden--lg" />
            <CardTablet3 class="u-hidden u-visible--md u-hidden--lg" />
            <CardDesktop3 class="u-hidden u-hidden--md u-visible--lg" />
          </div>
          <h6 class={clsx(
            'text__heading--h6',
            'text__heading--h5-lg',
            'text__body--18-medium-md',
          )}>
            Secure
          </h6>
          <p class={clsx(
            'text__body--14',
            'text__body--16-lg',
            'text__caption--md',
            styles.card__text,
          )}>
            Zero trust application access with zero application developer toil.
          </p>
        </div>
        <div class={styles.card4}>
        
          <div class={styles.card__bg}>
            <CardMobile4 class="u-visible u-hidden--md u-hidden--lg" />
            <CardTablet4 class="u-hidden u-visible--md u-hidden--lg" />
            <CardDesktop4 class="u-hidden u-hidden--md u-visible--lg" />
          </div>
          <h6 class={clsx(
            'text__heading--h6',
            'text__heading--h5-lg',
            'text__body--18-medium-md',
          )}>
            Optimaze
          </h6>
          <p class={clsx(
            'text__body--14',
            'text__body--16-lg',
            'text__caption--md',
            styles.card__text,
          )}>
            Infrastructure cost and ROI management with granular usage tracking and proactive traffic shaping.
          </p>
        </div>
    </div>
  </Grid>    
</div>