---
import GlowButton from '../../../components/Button/GlowButton.astro';
import styles from './Hero.module.css';
import logoMobile from '../../../assets/agent/hero/hero-logo-mobile.svg';
import logoTablet from '../../../assets/agent/hero/hero-logo-tablet.svg';
import logoDesktop from '../../../assets/agent/hero/hero-logo-desktop.svg';
import BgMobile from '../../../assets/agent/hero/hero-bg-mobile.svg';
import BgTablet from '../../../assets/agent/hero/hero-bg-tablet.svg';
import BgDesktop from '../../../assets/agent/hero/hero-bg-desktop.svg';
import Picture from '../../../components/Picture.astro';
import Image from '../../../assets/agent/hero/hero-logo-mobile.svg';
---

<div class={styles.hero}>
  <Picture 
  alt="bg" 
  srcMobile={BgMobile.src}
  srcTablet={BgTablet.src}
  srcDesktop={BgDesktop.src}
  class={styles.hero__bg}
   />
  <div class={styles.hero__content}>
    <Image class={styles.logo} />
    <h1 class='text__heading--h4
      text__heading--h1-lg
      text__heading--h3-md'
      >
      Agent Operations 
      <br class="u-hidden u-hidden--md u-visible--lg" /> 
      Director
    </h1>
    <p class='text__body--16
      text__body--18-lg
      text__body--16-md'
    >
      Runtime visibility and governance for ML 
      <br class="u-hidden u-hidden--md u-visible--lg" /> 
      infrastructure teams to maximize GenAI ROI
    </p>
    <GlowButton
      variant="primary"
      size="lg"
      buttonClassName="text__body--16-semibold"
      containerClassName="my-glow-margin"
      href="https://tetrate.io/contact/demo-request/"
    >
      Request a demo
    </GlowButton>
  </div>
</div>