---
import Grid from '../../../components/Grid/Grid.astro';
import styles from './Solves.module.css';
import clsx from 'clsx';
import Icon1 from '../../../assets/agent/solves/icon1.svg';
import Icon2 from '../../../assets/agent/solves/icon2.svg';
import Icon3 from '../../../assets/agent/solves/icon3.svg';
import bgMobile from '../../../assets/agent/solves/solves-bg-mobile.svg';
import bgTablet from '../../../assets/agent/solves/solves-bg-tablet.svg';
import bgDesktop from '../../../assets/agent/solves/solves-bg-desktop.svg';
import Picture from '../../../components/Picture.astro';
import BgIcon from '../../../assets/agent/solves/bg-icon.svg'

const items  = [
	{
		image: Icon1, 
    title: 'Showback and chargeback',
    text: 'Discovery of GenAI usage and map activity to owners.'
  },
  {
		image: Icon2, 
    title: 'Cost analysis and forecasting',
    text: 'Identify historical usage patterns and cost drivers.'
  },
  {
		image: Icon3, 
    title: 'Cost and Risk Governance',
    text: 'Detect unsanctioned model usage, set budgets by owner and provider.'
  }
]
---
<Grid>
  <div class={styles.solves}>
    <Picture 
    alt="bg" 
    srcMobile={bgMobile.src}
    srcTablet={bgTablet.src}
    srcDesktop={bgDesktop.src}
    class={styles.solves__bg}
     />
    <h5 class={clsx(
      'text__heading--h5',
      'text__heading--h3-lg',
      'text__heading--h4-md',
      styles.heading
      )}
    >
      GenAI ROI Management  
      <br class="u-visible u-hidden--md u-hidden--lg" /> 
      Use Cases
    </h5>
    <div class={styles.container}>
      {items.map((item) => (
        <div class={styles.item}>
          <div class={styles.image}>
            {<item.image />}
            <div class={styles.image__bg}>
              <BgIcon />
            </div>
          </div>
          <div class={styles.content}>
            <h6 class=
              'text__body--18-medium
              text__heading--h6-lg
              text__body--18-medium-md'
            >
              {item.title}
            </h6>
            <p class=
              'text__body--14
              text__body--16-lg
              text__body--14-md'
             >
              {item.text} 
            </p>
          </div>
       
        </div>    
      ))}
    </div>
  </div>
</Grid>
		
    
  