---
import type { CollectionEntry } from 'astro:content';
import Figure from '@/components/content/figure/Figure.astro';
import styles from './ArticleCard.module.css'
import clsx from 'clsx';
import Icon from '@/components/icon/Icon.astro';

interface Props {
  article: CollectionEntry<"learn">;
}

const { article } = Astro.props;
const { title, featuredImage, excerpt, description } = article.data;
const decodedTitle = decodeURIComponent(title);

function getFirstSentence(text: string): string {
  if (!text) return '';
  
  let cleanText = text.replace(/\.{3,}$/, '').replace(/…$/, '');
  const firstSentence = cleanText.split('.')[0];
  
  return firstSentence.endsWith('.') ? firstSentence : firstSentence + '.';
}

const isUrl = typeof featuredImage === 'string';
const isLocal = typeof featuredImage === 'object' && featuredImage && 'src' in featuredImage;

const resolvedUrl = isUrl && (featuredImage as string).startsWith('/wp-content')
  ? `https://tetrate.io${featuredImage}`
  : featuredImage;

  const text = getFirstSentence(description ?? excerpt ?? '');
const showText =
  text.length > 0 &&
  text.toLowerCase() !== decodedTitle.trim().toLowerCase(); 
---
<article class={styles.card}>
	<a href={`/learn/${article.slug}`} class={styles.link}>
		<div class={styles.content}>
      {featuredImage && (
        <div class={styles.featuredImage}>
          {isUrl ? (
            <img src={resolvedUrl as string} alt={decodedTitle} loading="lazy" />
          ) : isLocal ? (
            <Figure
              source={featuredImage}
              width="100%"
              lightbox={false}
              alt={decodedTitle}
            />
          ) : null}
        </div>
      )}

      <div class={styles.heading}>
        <h3 class={clsx(
          'text__heading--h6',
          'text__heading--h5-lg',
          'text__heading--h4-md',
          styles.title
        )}>
          {decodedTitle}
        </h3>
       {showText && (
          <p class={clsx(
            'text__body--16',
            styles.description
          )}>
            {text}
          </p>
        )}
      </div>

      <span 
        class={clsx(
          'text__body--16-semibold',
          styles.cta
        )} 
        style={{ color: 'var(--color-black)' }}
      >
        Read more
        <Icon 
          name="arrow-right" 
          width={24} 
          height={24} 
          color="var(--color-orange-500)"
        />
			</span>
    </div>
  </a>
</article>