---
import styles from './hero.module.css';
---

<div class={styles.hero}>
  <div class={styles.content}>
    <h1 class={styles.header}>Dynamic Gateways</h1>
    <h2 class={styles.text}>For Autonomous Traffic Orchestration.</h2>
    <button class={styles.btn}>
      <a href='#'>Request a demo</a>
    </button>
  </div>
</div>