---
import GlowButton from '../../../components/Button/GlowButton.astro';
import styles from './Hero.module.css';
import imageMobile from '../../../assets/app/hero/hero-mobile.png';
import imageTablet from '../../../assets/app/hero/hero-tablet.png';
import imageDesktop from '../../../assets/app/hero/hero-desktop.png';
import Picture from '../../../components/Picture.astro';
---

<div class={styles.hero}>
  <Picture 
  alt="bg" 
  srcMobile={imageMobile.src}
  srcTablet={imageTablet.src}
  srcDesktop={imageDesktop.src}
  class={styles.hero__bg}
   />
  <div class={styles.hero__content}>
    <h1 class='text__heading--h4
      text__heading--h1-lg
      text__heading--h3-md'
      >
      Tetrate Application 
      <br class="u-hidden u-hidden--md u-visible--lg" /> 
      Gateway
    </h1>
    <p class='text__body--16
      text__body--18-lg
      text__body--16-md'
    >
      Intent-driven ingress traffic orchestration across clouds, 
      <br class="u-hidden u-visible--md u-visible--lg" /> 
      on-prem environments, Kubernetes clusters, and VMs.
    </p>
    <GlowButton
      variant="primary"
      size="lg"
      buttonClassName="text__body--16-semibold"
      containerClassName="my-glow-margin"
      data-modal-open="demo-request-modal"
      type="button"
    >
      Request a demo
    </GlowButton>
  </div>
</div>