---
import Button from "@/components/Button/Button.astro";
import styles from "./Header.module.css";
import Icon from '@/components/icon/Icon.astro';
import clsx from "clsx";
import HeaderLinks from './HeaderLinks.astro';
import TetrateLogo from '@/assets/tetrate-logo.svg'
---
<header class={clsx('nav', styles.nav)}>
  <div class={styles.container}>
   <a href="/" aria-label="Go to homepage">
      <TetrateLogo class={styles.logo} />
  </a>

      <HeaderLinks />
    
    <div class={styles.actions}>
      <Button
        variant="primary"
        size="md"
        class="text__body--16-medium"
        data-modal-open="demo-request-modal"
        type="button"
      >
        Request a Demo
      </Button>

      <button class={clsx(styles.menu__button, 'menu__button')} aria-label="Open menu">
        <Icon name="menu" width={24} height={24} />
        <span class="visually-hidden">Open menu</span>
      </button>
    </div>
  </div>

    <div class={clsx(styles.nav__mobile, 'nav__mobile')}>
      <div class={styles.mobile__container}>
        <div class={styles.mobile__heading}>
          <a href="/" aria-label="Go to homepage">
            <TetrateLogo class={styles.logo} />
          </a>
          <button class={clsx(styles.nav__close, 'nav__close')} aria-label="Close menu">
            <Icon name="close" class="close" width={24} height={24} 
            color="var(--color-black)" />
            <span class="visually-hidden">Close menu</span>
          </button>
        </div>
     
        <HeaderLinks />
      </div>

      <div class={styles.mobile__buttons}>
        <Button 
          data-modal-open="demo-request-modal"
          type="button"
          variant="secondary" 
          size="sm"
          class={styles.mobile__button}>
            Request a demo
        </Button>
        <Button 
          href="/contact/pricing-request/" 
          variant="primary" 
          size="sm"
          class={styles.mobile__button}>
            Pricing Request
        </Button>
      </div>
    </div>
</header>

<script>
let lastScrollY = window.scrollY;
let ticking = false;
const nav = document.querySelector(".nav");

const handleScroll = () => {
  const currentScrollY = window.scrollY;

  if (currentScrollY >= lastScrollY && currentScrollY > 100) {
    nav?.classList.add("hidden");
  } else {
    nav?.classList.remove("hidden");
  }

  if (currentScrollY > 100) {
    nav?.classList.add("nav__with__bg");
  } else {
    nav?.classList.remove("nav__with__bg");
  }

  lastScrollY = currentScrollY;
  ticking = false;
};

const onScroll = () => {
  if (!ticking) {
    requestAnimationFrame(handleScroll);
    ticking = true;
  }
};

window.addEventListener("scroll", onScroll, { passive: true });
handleScroll();

  const nav_mobile = document.querySelector(".nav__mobile");

  document.querySelector(".menu__button")
    ?.addEventListener("click", () => {
      nav_mobile?.classList.add("open");
      document.body.classList.add("no-scroll");
    });

  document.querySelector(".nav__close")?.addEventListener("click", () => {
    nav_mobile?.classList.remove("open");
    document.body.classList.remove("no-scroll");
  });

</script>
