---
import { headerNavigation } from './headerNavigation.ts';
import Button from "@/components/Button/Button.astro";
import type { IconType } from '@/components/icon/Icon.astro';
import Icon from '@/components/icon/Icon.astro';
import clsx from "clsx";
import styles from "./HeaderLinks.module.css";

const { className = '' } = Astro.props;
---

<div class={clsx(styles.links, className)}>
  {headerNavigation.map((item) => (
    <div class={clsx("u-relative", styles.link__wrapper)} 
    data-link-wrapper 
    data-open="false">
      <a href={item.url} 
        class={clsx(
          "text__body--16", 
          "text__body--16-lg",
          "text__body--16-md",
          styles.link
      )}>
        {item.title}
        {item.categories && (
          <>
            <Icon name="arrow" class={styles.arrowdown} />
            <Icon name="arrow-up" class={styles.arrowup} />
          </>
        )}
      </a>

      {item.categories && (
        <div class={styles.mega_menu}>
          {item.categories.map((category) => (
            <div class={clsx(
              styles.mega_menu__column,
              !category.items[0].description && styles.mega_menu__column__no_gap
            )}>
              {category.title && (
                category.url ? (
                  <a 
                    class={clsx("text__caption", styles.content_a)} 
                    href={category.url}
                  >
                    {category.title}
                    <Icon 
                    name="arrow-right" 
                    width={20} 
                    height={20}
                    color="var(--color-orange-500)"
                     />
                  </a>
                ) : (
                  <p class={clsx("text__caption", styles.content)}>
                    {category.title}
                  </p>
                )
              )}

              {category.items.map((item) =>
                item.icon === "button" ? (
                  <Button
                    variant="primary"
                    size="md"
                    href={item.url}
                    class={styles.mega_menu__button}
                  >
                    Tetrate Academy
                    <Icon name="arrow" width={20} height={20} />
                  </Button>
                ) : (
                  <a
                    class={clsx(
                      styles.mega_menu__item,
                      !item.description && styles.mega_menu__item__center
                    )}
                    href={item.url}
                  >
                    {item.icon && (
                      <div class={styles.item_icon}>
                        <Icon name={item.icon as IconType} />
                      </div>
                    )}
                    <div class={styles.mega_menu__item_description}>
                      <p class={clsx(
                        "text__body--16-medium",
                         "u-whitespace-nowrap",
                         styles.item_name)}
                      >
                        {item.name}
                      </p>
                      {item.description && (
                        <p class={clsx(
                          "text__body--14",  
                          styles.item_description)}
                        >
                          {item.description}
                        </p>
                      )}
                    </div>
                  </a>
                )
              )}
            </div>
          ))}
        </div>
      )}
    </div>
  ))}
</div>

<script>
  const isMobile = window.matchMedia("(max-width: 1023px)").matches;

  if (isMobile) {
  document.querySelectorAll("[data-link-wrapper]").forEach((link) => {
    const linkAnchor = link.querySelector("a");

    if (!linkAnchor) return;

      linkAnchor.addEventListener("click", (e) => {
        e.preventDefault(); 
        const isOpen = link.getAttribute("data-open") === "true";
        link.setAttribute("data-open", String(!isOpen));
      });
  });
}
</script>