---
import styles from './Cta.module.css'
import Button from '../../../components/Button/Button.astro';
import GlowButton from '../../../components/Button/GlowButton.astro';
import Grid from '../../../components/Grid/Grid.astro';
import clsx from 'clsx';
import TopLeftMobile from '../../../assets/home/cta/topleft-mobile.svg';
import TopLeftTablet from '../../../assets/home/cta/topleft-tablet.svg';
import TopLeftDesktop from '../../../assets/home/cta/topleft-desktop.svg';
import BottomRightMobile from '../../../assets/home/cta/bottomright-mobile.svg';
import BottomRightTablet from '../../../assets/home/cta/bottomright-tablet.svg';
import BottomRighttDesktop from '../../../assets/home/cta/bottomright-desktop.svg';
import Image from '../../../assets/home/cta/logo.svg';
import Picture from '../../../components/Picture.astro';
---
<div class={styles.cta}>
  <Grid withPattern={true} stopPatternAtTop={true} variant="default-offset">
    <Picture 
    alt="top-left" 
    srcMobile={TopLeftMobile.src}
    srcTablet={TopLeftTablet.src}
    srcDesktop={TopLeftDesktop.src}
    class={styles.TopLeft}
     />

     <Picture 
     alt="bottom-right" 
     srcMobile={BottomRightMobile.src}
     srcTablet={BottomRightTablet.src}
     srcDesktop={BottomRighttDesktop.src}
     class={styles.BottomRight}
      />
    
    <div class={styles.content}>
      <Image class={styles.logo} />
	     <h5 class={clsx(
	        'text__heading--h5',
	        'text__heading--h2-lg',
	        'text__heading--h4-md',
	      )}>
          Ready to 
        <span style={{ color: 'var(--color-orange-500)' }}>
          enhance your network
        </span>
        <br class="u-hidden u-visible--md u-visible--lg" /> 
        with more intelligence?
      </h5>
      <div class={styles.btncontainer}>
        <Button 
          variant="secondary" 
          size="lg" 
          class="text__body--16-semibold" 
          href='https://tetrate.io/contact/demo-request/'
        >
          Request a demo
        </Button>
        
        <GlowButton 
          variant="primary" 
          size="lg" 
          buttonClassName="text__body--16-semibold" 
          href='https://tetrate.io/contact/pricing-request/'
        >
          Pricing Request
        </GlowButton>
      </div>
    </div>
  </Grid>
</div>