---
import styles from './Cta.module.css'
---
<div class={styles.cta}>
  <img src="/cta/logo.svg" alt="logo" class={styles.img}>
  <h1>Ready to 
    <span class={styles.orange}>enhance your network</span> <br /> 
    with more intelligence?
  </h1>
  <div class={styles.container}>
    <button class={styles.btn_demo}>
      <a href='#'>Request a demo</a>
    </button>
    <button class={styles.btn_pricing}>
      <a href='#'>Pricing Request</a>
    </button>
  </div>
</div>