---
import clsx from 'clsx';
import styles from './Cta.module.css'
import Button from '../../../components/Button/Button';
import { GlowButton } from '../../../components/Button/GlowButton';
import Grid from '../../../components/Grid/Grid.astro';
---
<div class={styles.cta}>

  <!-- Основной блок -->
  <Grid variant="default-offset">
    <!-- Контент внутри cta -->
    <div class={styles.content}>
    
      <!--TopLeft -->
      <img
        src="home_page/cta/cta-TopLeft.png"
        width="562"
        height="232"
        alt=""
        loading="lazy"
        class={`${styles.TopLeft} ${styles.visibleLg}`}
      />

      <img
        src="home_page/cta/cta-TopLeft-md.png"
        width="298"
        height="174"
        alt=""
        loading="lazy"
        class={`${styles.TopLeftTablet} ${styles.visibleMd}`}
      />

      <img
        src="home_page/cta/cta-TopLeft-sm.png"
        width="316"
        height="130"
        alt=""
        loading="lazy"
        class={`${styles.TopLeftMobile} ${styles.visibleSm}`}
      />

      <!--BottomRight -->
      <img
        src="home_page/cta/cta-BottomRight.png"
        width="397"
        height="232"
        alt=""
        loading="lazy"
        class={`${styles.BottomRight} ${styles.visibleLg}`}
      />

      <img
        src="home_page/cta/cta-BottomRight-md.png"
        width="298"
        height="174"
        alt=""
        loading="lazy"
        class={`${styles.BottomRightTablet} ${styles.visibleMd}`}
      />

      <img
        src="home_page/cta/cta-BottomRight-sm.png"
        width="223"
        height="130"
        alt=""
        loading="lazy"
        class={`${styles.BottomRightMobile} ${styles.visibleSm}`}
      />

      <img src="home_page/cta/logo.svg" alt="logo" class={styles.logo}>
      <h5 class={clsx(
        'text__heading--h5',
        'text__heading--h2-lg',
        'text__heading--h4-md',
      )}>
          Ready to 
        <span style={{ color: 'var(--color-orange-500)' }}>
          enhance your network
        </span><br /> 
        with more intelligence?
      </h5>
      <div class={styles.btncontainer}>
        <Button variant="secondary" size="lg" 
        className="text__body--16-semibold" 
        href='https://tetrate.io/contact/demo-request/'>
          Request a demo
        </Button>
        
        <GlowButton variant="primary" size="lg" buttonClassName="text__body--16-semibold" 
        href='https://tetrate.io/contact/pricing-request/'>
          Pricing Request
        </GlowButton>
      </div>
    </div>
  </Grid>
</div>