---
import styles from './HeaderTop.module.css';
---
<div class={styles.headertop} id="headertop">
  <div class={styles.container}>
    <p class={styles.text}>Announcing TEG 1.2—Enterprise support and FedRAMP-ready FIPS builds for Envoy Gateway 1.2</p>
    <button class={styles.btntop}>
      <a href="https://tetrate.io/blog/announcing-tetrate-enterprise-gateway-for-envoy-v1-2/">Learn more</a>
      <img class="arrow" src="/arrow.svg" alt=""/>
    </button>
  </div>
  <button class={styles.closebtn} id="closeBtn">
    <img class={styles.close} src="/close.svg" alt="close headertop" />
  </button>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const closeBtn = document.getElementById("closeBtn");
    const headerTop = document.getElementById("headertop");

    if (closeBtn && headerTop) {
      closeBtn.addEventListener("click", () => {
        headerTop.style.display = "none";
      });
    }
  });
</script>