---
import Button from '@/components/Button/Button.astro';
import Icon from '@/components/icon/Icon.astro';
import styles from './HeaderTop.module.css';
import clsx from 'clsx';
import imageMobile from '@/assets/header-top/header-mobile.svg';
import imageTablet from '@/assets/header-top/header-tablet.svg';
import imageDesktop from '@/assets/header-top/hesder-desktop.svg';
import Picture from '../Picture.astro';
---
<div class={styles.headertop} id="headertop">
  <Picture 
    alt="bg" 
    srcMobile={imageMobile.src}
    srcTablet={imageTablet.src}
    srcDesktop={imageDesktop.src}
    class={styles.headertop__bg}
   />
  <div class={styles.container}>
    <p class={clsx(
      'text__body--12-medium',
      'text__body--14-medium-lg',
      'text__body--14-medium-md',
      styles.text
      )}
      data-headertop--text
    >
      Announcing Tetrate Agent Operations Director 
      <br class="u-visible u-visible--md u-hidden--lg" />  
      for GenAI Runtime Visibility and Governance
    </p>
    <Button 
      variant="tertiary" 
      size="sm" 
      class={styles.btntop} 
      href="https://tetrate.io/blog/announcing-tetrate-enterprise-gateway-for-envoy-v1-2/"
    > 
      <span class={clsx(
        'text__body--14-medium',
        'text__body--14-medium-lg',
        'text__body--14-medium-md',
        styles.span
      )}>
        Learn more
      </span>
      <Icon 
      name="arrow-right" 
      width={24} height={24} 
      color="var(--color-orange-500)" />
    </Button>
  </div>
  <button class={styles.closebtn} id="closeBtn">
    <Icon 
      name="close" 
      width={24} 
      height={24} 
      color="var(--color-white)"
      class='close-headertop'
     />
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const closeBtn = document.getElementById("closeBtn");
    const headerTop = document.getElementById("headertop");

    if (closeBtn && headerTop) {
      closeBtn.addEventListener("click", () => {
        headerTop.style.display = "none";
      });
    }
  });
</script>