---
import Grid from '../../../components/Grid/Grid.astro';
import Pattern from '../../../components/pattern/Pattern.astro';
import ProductCard from './ProductCard.astro'
import styles from './Products.module.css'
import clsx from 'clsx';
import Product1 from '../../../assets/home/products/product1.svg';
import Product4 from '../../../assets/home/products/product4.svg';
import Product3 from '../../../assets/home/products/product3.svg';
import imageMobile from '../../../assets/agent/products/products-bg-mobile.svg';
import imageTablet from '../../../assets/agent/products/products-bg-tablet.svg';
import imageDesktop from '../../../assets/agent/products/products-bg-desktop.svg';
import Picture from '../../../components/Picture.astro';

const cards  = [
	{
		image: Product1, 
    title: 'Agent Operations Director',
    description: 'Seamless visibility and cost management for ML infrastructure teams to maximize GenAI ROI.', 
    item: ['Seamlessly discovery of GenAI usage ownership and patterns', 'Real-time visibility and cost accounting at transaction granularity', 'Proactive governance for cost optimization'],
    buttonLink: 'https://tetrate.io/products/agent-operations-director/', 
  },
  {
    image: Product3, 
    title: 'Tetrate Istio Subscription',
    description: 'Stable releases, production support, powerful troubleshooting tools for seamless and sustainable Istio day 2 operations for app and platform team.', 
    item: ['Includes Tetrate Istio Distribution', 'FIPS-verified Istio and Envoy builds', 'Istio installation and lifecycle management', '24/7 production support'],
    buttonLink: 'https://tetrate.io/products/tetrate-istio-subscription/', 
  },
  {
    image: Product4, 
    title: 'Tetrate Enterprise <br> Gateway for Envoy',
    description: 'Enterprise support and enablement for FIPS- verified and CVE-protected Envoy Gateway built by Tetrate.', 
    item: ['100% upstream Envoy Gateway', 'FIPS-verified Envoy Gateway builds', '24/7 production support and CVE protection'],
    buttonLink: 'https://tetrate.io/products/tetrate-enterprise-gateway-for-envoy/', 
  }
]
---

<div class={styles.products}>
  <Picture 
    alt="bg" 
    srcMobile={imageMobile.src}
    srcTablet={imageTablet.src}
    srcDesktop={imageDesktop.src}
    class={styles.products__bg}
   />
  <h5 class={clsx(
      'text__heading--h5',
      'text__heading--h2-lg',
      'text__heading--h4-md',
      styles.products__heading
  )}>
    Flexible Starting Use Case
  </h5>
  <Grid variant="blue">
    <div class={styles.card__container}>
      {cards.map((card) => (
       <ProductCard data={card} />
      ))}
    </div>
  </Grid>
  
  <Pattern variant="blue" size="default" />
</div>