---
import Grid from '../../../components/Grid/Grid.astro';
import styles from './Solves.module.css';
import clsx from 'clsx';
import Icon1 from '../../../assets/istio/solves/icon1.svg';
import Icon2 from '../../../assets/istio/solves/icon2.svg';
import Icon3 from '../../../assets/istio/solves/icon3.svg';
import bgMobile from '../../../assets/agent/solves/solves-bg-mobile.svg';
import bgTablet from '../../../assets/agent/solves/solves-bg-tablet.svg';
import bgDesktop from '../../../assets/agent/solves/solves-bg-desktop.svg';
import Picture from '../../../components/Picture.astro';
import BgIcon from '../../../assets/istio/solves/bg-icon.svg'

const items  = [
	{
		image: Icon1, 
    title: 'Enterprise-ready Istio',
    text: '100% upstream, FIPS verified, and break/fix support.'
  },
  {
		image: Icon2, 
    title: 'Troubleshoot Faster',
    text: 'Self-service issue resolution for every app developer.'
  },
  {
		image: Icon3, 
    title: 'Real-time Insights',
    text: 'Global visibility powered by automatic service discovery.'
  }
]
---
<Grid>
  <div class={styles.solves}>
    <Picture 
    alt="bg" 
    srcMobile={bgMobile.src}
    srcTablet={bgTablet.src}
    srcDesktop={bgDesktop.src}
    class={styles.solves__bg}
     />
    <h5 class={clsx(
      'text__heading--h5',
      'text__heading--h3-lg',
      'text__heading--h4-md',
      styles.heading
      )}
    >
    Kubernetes Networking, Simplified
    </h5>
    <div class={styles.container}>
      {items.map((item) => (
        <div class={styles.item}>
          <div class={styles.image}>
            {<item.image />}
            <div class={styles.image__bg}>
              <BgIcon />
            </div>
          </div>
          <div class={styles.content}>
            <h6 class=
              'text__body--18-medium
              text__heading--h6-lg
              text__body--18-medium-md'
            >
              {item.title}
            </h6>
            <p class=
              'text__body--14
              text__body--16-lg
              text__body--14-md'
             >
              {item.text} 
            </p>
          </div>
        </div>    
      ))}
    </div>
    <p = {clsx(
      'text__body--16-medium',
      'text__heading--h6-lg',
      'text__body--18-medium-md',
      styles.heading 
      )}>
      Avoid lock-in, achieve compliance, and gain insights
      <br class="u-hidden u-visible--md u-visible--lg" /> 
      <span class={styles.line}>fast with Tetrate Istio Subscription.</span>
    </p>
  </div>
</Grid>
		
    
  