---
import styles from './Blog.module.css';
import Grid from '@/components/Grid/Grid.astro';
import BackButton from '@/components/Button/BackButton.astro';
import TableOfContents from '@/components/content/toc/TableOfContents.astro';
import clsx from "clsx";
import defaultAvatar from '@/assets/blog/defaultAvatar.svg';
import ShareButton from '@/components/Button/ShareButton.astro';
import Figure from '@/components/content/figure/Figure.astro';
import Quote from '@/components/content/quote/Quote.astro';
import Admonition from '@/components/content/admonition/Admonition.astro';
import InlinePromo from '@/components/content/inlinepromo/InlinePromo.astro';
import Icon from '@/components/icon/Icon.astro';
import Link from '@/components/Link/Link.astro';
import { Code } from 'astro:components';
import Pattern from '@/components/pattern/Pattern.astro';
import Products from './products/Products.astro';

const { post, headings } = Astro.props;
const { Content } = await post.render();
const { title, description, featuredImage, date, author, authorImage } = post.data;
const decodedTitle = decodeURIComponent(title);
---

<article class={styles.article}>
  <Grid>
    <div class={styles.container}>
        <!-- Левая колонка: Back + TOC (Desktop) -->
      <div class={styles.tocDesktop}>
        <div class={styles.btn}>
          <BackButton fallback="/blog" />
        </div>
        <TableOfContents headings={headings} />
      </div>

      <!-- Центральная колонка: Контент -->
      <div class={styles.post}>
        <!-- Back кнопка (Mobile/Tablet) -->
        <div class={styles.btn}>
          <BackButton fallback="/blog" />
        </div>

        <div class={styles.header}>
          <h1 class={clsx(
            'text__heading--h4',
            'text__heading--h2-lg',
            'text__heading--h3-md',
            styles.title
          )}>
            {decodedTitle}
          </h1>
          
          {description && (
            <p class={styles.excerpt}>
              {description}
            </p>
          )}

          <div class={styles.meta}>
            <div class={styles.authorBlock}>
              
              <img 
                src={authorImage || defaultAvatar.src} 
                alt={author || 'Author'} 
                class={styles.authorAvatar}
                /> 
              
              {author && 
                <div class={clsx(
                  'text__body--14-medium',
                  'text__body--14-medium-lg',
                  'text__body--14-medium-md',
                  styles.authorName
                )}>
                  {author}
                </div>
              }
              {date && 
                  <div class={clsx(
                  'text__body--14',
                  'text__body--14-lg',
                  'text__body--14-md',
                  styles.date
                )}>
                {new Date(date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric"
                })}
                </div>
              }
            </div>
          </div>

          <div class={styles.share}>
            <ShareButton
              url={`${Astro.site}${Astro.url.pathname}`.replace(/\/+/g, '/').replace('https:/', 'https://')}
              title={decodedTitle}
            />
          </div>

          {featuredImage && (
            <div class={styles.featuredImage}>
              <Figure 
                source={featuredImage} 
                width={"100%"} 
                lightbox={false} 
                alt="Featured Image"
              />
            </div>
          )}
        </div>

        <!-- TOC (Mobile/Tablet) -->
        <TableOfContents 
          className={styles.tocMobile} 
          headings={headings}
        />

        <div class={styles.content}>
          <Content
            components={{
              Quote,
              Admonition,
              Code,
              Icon,
              Figure,
              InlinePromo,
              img: Figure,
              a: Link,
            }}
          />
        </div>
      </div>

      <div class={styles.meta}>
        <div class={styles.authorBlock}>
          
          <img 
            src={authorImage || defaultAvatar.src} 
            alt={author || 'Author'} 
            class={styles.authorAvatar}
            /> 
          
          {author && 
            <div class={clsx(
              'text__body--14-medium',
              'text__body--14-medium-lg',
              'text__body--14-medium-md',
              styles.authorName
            )}>
              {author}
            </div>
          }
          {date && 
              <div class={clsx(
              'text__body--14',
              'text__body--14-lg',
              'text__body--14-md',
              styles.date
            )}>
            {new Date(date).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric"
            })}
            </div>
          }
        </div>
      </div>
    </div>
  </Grid>

	<>
		<Pattern />
		<Products />
	</>
</article>