---
import clsx from 'clsx';
import Button from '../../../components/Button/Button.astro';
import Icon from '../../../components/icon/Icon.astro';
import styles from './Card.module.css'

const { data } = Astro.props;
---

<div class={styles.card}>
    <div class={styles.card__image}>     
      <img
        src={data.image}
        loading="lazy"
        alt={data.title}
      />
    </div>
    <div class={styles.card__content}>
      <h3 class={clsx(
        'text__body--14-medium-uppercase',
        'text__body--14-medium-uppercase-lg',
        'text__body--12-medium-uppercase-md',
        styles.card__newsname
      )}>
        {data.newsname}
      </h3>
      
      <h5 class=
        'text__heading--h6
        text__heading--h5-lg
        text__heading--h6-md',
      >
        {data.title}
      </h5>
      <div class={clsx(
        'text__body--14',
        'text__body--14-lg',
        'text__caption--md',
        styles.card__text
      )}>
        <slot /> <!-- ВАЖНО! Вставляем контент через `slot` -->
      </div>
    </div>
  
    <Button 
      variant="tertiary" 
      size="tert"
      href={data.buttonLink} 
      class={styles.card__btn}
    >
      <span 
      class="text__body--16-semibold" 
      style={{ color: 'var(--color-black)' }}
      >
        Start now
      </span>
      <Icon 
        name="arrow-right" 
        width={24} 
        height={24} 
        var(--color-orange-500)
       />
    </Button>
</div>